body {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
    font-size: 12px;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    width: 100%;
}

html, body, ul, li {
    padding: 0px;
    margin: 0px;
}

ul, li {
    list-style: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: 1px solid #CCC!important;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.ng-table th {
    text-align: left;
}

.modal {
    display: block;
    overflow-y: auto;
}

.modal-backdrop {
    z-index: 0;
}

.break-space-double {
    opacity: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fixed-width-1 {
    width: 39px;
}

.fixed-width-2 {
    width: 56px;
}

.fixed-width-3 {
    width: 120px;
}

.fixed-width-4 {
    width: 256px;
}

.fixed-width-5 {
    width: 320px;
}

.fixed-width-6 {
    width: 366px;
}

.fixed-height-1 {
    height: 320px;
}

.fixed-height-2 {
    height: 4px;
}

.navbar-static-top {
    margin-bottom: 20px;
}

i {
    font-size: 16px;
}

.nav > li > a {
    color: #787878;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #efefef;
}

/* count indicator near icons */
.nav > li .count {
    position: absolute;
    bottom: 12px;
    right: 6px;
    font-size: 9px;
    background: rgba(51, 200, 51, 0.55);
    color: rgba(255, 255, 255, 0.9);
    line-height: 1em;
    padding: 2px 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

/*modified*/
.modal-body > .list-group {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -16px;
    margin-bottom: -16px;
    border-radius: 0px;
}

.modal-body > .list-group > .list-group-item {
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.table.width-progress td {
    vertical-align: middle;
}

.progress.in-table {
    margin-top: 15px;
    margin-bottom: 15px;
}

.table.width-poster td {
    vertical-align: middle;
}

a {
    text-decoration: none !important;
    cursor: default;
}

.btn-sm > .glyphicon {
    font-size: 12px;
}

td {
    min-width: 3em;
}

.label > .glyphicon {
    font-size: 12px;
}

.btn-xs > .glyphicon {
    font-size: 12px;
}

.badge-danger {
    background-color: #d9534f;
}

.badge-success {
    background-color: #5cb85c;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

.font-gray {
    color: rgb(159, 158, 159);
}

.float-right {
    float: right;
}

.no-underline {
    text-decoration: none !important;
}

.cursor-default {
    cursor: default;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-top-m7 {
    margin-top: -7px;
}

.controls {
    margin-bottom: 15px;
}

.required-info:before {
    content: '*';
    color: red;
}

.page-portal a {
    cursor: pointer;
}

.break-space {
    opacity: 0;
    margin-top: 0;
    margin-bottom: 15px;
}

.col-left {
    width: 240px !important;
    float: left;
}

.col-right {
    width: calc(100% - 240px) !important;
    float: right;
}

/* private */

.list-checkbox {
    min-width: 0px !important;
    width: 14px !important;
}

.list-poster {
    height: 40px;
}

.modal-poster {
    height: 120px
}

.text-mode {
    border: none;
    pointer-events: none;
    box-shadow: none;
}

.list-long-text {
    position: relative;
    width: 20em;

}

.list-long-text > span {
    position: absolute;
    width: 80%;
    height: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-long-text > span:after {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28px;
    height: 21px;
    background-color: white
}

.list-long-text > span:after {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28px;
    height: 21px;
    background-color: white
}

.table-hover > tbody > tr:hover > .list-long-text > span:after {
    background-color: #f5f5f5
}

/*modal*/
.modal {
    display: block;
    overflow-y: auto;
    pointer-events: none;
}

.modal.fade.in {
    pointer-events: auto;
}

.modal-backdrop {
    z-index: 0;
    pointer-events: none;
    height: 400%;
}

.modal-dialog {
    /*margin: 72px auto;*/
}

.modal-content {
    border: none;
    /*-webkit-box-shadow: 0 5px 24px 8px rgba(0,0,0,.125);*/
    /*box-shadow: 0 5px 24px 8px rgba(0,0,0,.125);*/
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-sm .modal-body {
    padding: 15px;
}

.modal-body {
    padding: 15px 30px;
}

.modal hr {
    margin-left: -15px;
    margin-right: -15px;
}

.modal-footer {
    border-top: none;
    padding-right: 30px;
    padding-bottom: 24px;
}

/*.form-control[required]:placeholder-shown {*/
    /*background-color: rgb(255, 221, 128)*/
/*}*/

/*score board*/
.panel.scoreboard {
    text-align: center;
    font-weight: bold;
}

.panel.scoreboard > .panel-body {
    font-weight: bolder;
    padding: 8px;
    font-size: 24px;
}

/*condition*/
.btn-group.condition > .btn {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*bootstrap*/
/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {*/
    /*padding-left: 7px;*/
    /*padding-right: 15px;*/
/*}*/

.col-xs-0 {
    width: 0px;
    float: left;
    /*display: none !important;*/
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari 和 Chrome */
    -o-transition: all 0.5s; /* Opera */
}

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-4ths, .col-sm-4ths, .col-md-4ths, .col-lg-4ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-2ths, .col-sm-2ths, .col-md-2ths, .col-lg-2ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

/* loading */
.loading-page {
    width: 180px;
    height: 180px;
    z-index: 999;
    top: 30%;
    left: 50%;
    margin-left: -90px;
    background: rgba(0,0,0,.3);
    position: fixed;
    border-radius: 20px;
}

.loading-page .loading-top img {
    width: 18px;
    margin-top: 16px;
    margin-left: 10px;
}

.load-container {
    position: absolute;
    width: 180px;
    height: 180px;
    float: left;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 50%;
    margin-left: -90px;
}

.loading-text {
    position: absolute;
    width: 140px;
    height: 30px;
    left: 50%;
    margin-left: -70px;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.load6 .loader {
    font-size: 60px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 1em auto;
    position: relative;
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #FFFFFF, -0.11em -0.83em 0 -0.42em #FFFFFF, -0.11em -0.83em 0 -0.44em #FFFFFF, -0.11em -0.83em 0 -0.46em #FFFFFF, -0.11em -0.83em 0 -0.477em #FFFFFF;
    }
    5%,
    95% {
        box-shadow: -0.11em -0.83em 0 -0.4em #FFFFFF, -0.11em -0.83em 0 -0.42em #FFFFFF, -0.11em -0.83em 0 -0.44em #FFFFFF, -0.11em -0.83em 0 -0.46em #FFFFFF, -0.11em -0.83em 0 -0.477em #FFFFFF;
    }
    30% {
        box-shadow: -0.11em -0.83em 0 -0.4em #FFFFFF, -0.51em -0.66em 0 -0.42em #FFFFFF, -0.75em -0.36em 0 -0.44em #FFFFFF, -0.83em -0.03em 0 -0.46em #FFFFFF, -0.81em 0.21em 0 -0.477em #FFFFFF;
    }
    55% {
        box-shadow: -0.11em -0.83em 0 -0.4em #FFFFFF, -0.29em -0.78em 0 -0.42em #FFFFFF, -0.43em -0.72em 0 -0.44em #FFFFFF, -0.52em -0.65em 0 -0.46em #FFFFFF, -0.57em -0.61em 0 -0.477em #FFFFFF;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #FFFFFF, -0.11em -0.83em 0 -0.42em #FFFFFF, -0.11em -0.83em 0 -0.44em #FFFFFF, -0.11em -0.83em 0 -0.46em #FFFFFF, -0.11em -0.83em 0 -0.477em #FFFFFF;
    }
}
@keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #FFFFFF, -0.11em -0.83em 0 -0.42em #FFFFFF, -0.11em -0.83em 0 -0.44em #FFFFFF, -0.11em -0.83em 0 -0.46em #FFFFFF, -0.11em -0.83em 0 -0.477em #FFFFFF;
    }
    5%,
    95% {
        box-shadow: -0.11em -0.83em 0 -0.4em #FFFFFF, -0.11em -0.83em 0 -0.42em #FFFFFF, -0.11em -0.83em 0 -0.44em #FFFFFF, -0.11em -0.83em 0 -0.46em #FFFFFF, -0.11em -0.83em 0 -0.477em #FFFFFF;
    }
    30% {
        box-shadow: -0.11em -0.83em 0 -0.4em #FFFFFF, -0.51em -0.66em 0 -0.42em #FFFFFF, -0.75em -0.36em 0 -0.44em #FFFFFF, -0.83em -0.03em 0 -0.46em #FFFFFF, -0.81em 0.21em 0 -0.477em #FFFFFF;
    }
    55% {
        box-shadow: -0.11em -0.83em 0 -0.4em #FFFFFF, -0.29em -0.78em 0 -0.42em #FFFFFF, -0.43em -0.72em 0 -0.44em #FFFFFF, -0.52em -0.65em 0 -0.46em #FFFFFF, -0.57em -0.61em 0 -0.477em #FFFFFF;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #FFFFFF, -0.11em -0.83em 0 -0.42em #FFFFFF, -0.11em -0.83em 0 -0.44em #FFFFFF, -0.11em -0.83em 0 -0.46em #FFFFFF, -0.11em -0.83em 0 -0.477em #FFFFFF;
    }
}

/* copyright */
.copyright {
    position: absolute;
    width: 200px;
    bottom: 10px;
    left: 50%;
    margin-left: -100px;
    color: rgba(255,255,255,0.8);
}

@media ( min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
    .col-sm-4ths {
        width: 25%;
        float: left;
    }
    .col-sm-2ths {
        width: 50%;
        float: left;
    }
}

@media ( min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
    .col-md-4ths {
        width: 25%;
        float: left;
    }    
    .col-md-2ths {
        width: 50%;
        float: left;
    }
}

@media ( min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
    .col-lg-4ths {
        width: 25%;
        float: left;
    }    
    .col-lg-2ths {
        width: 50%;
        float: left;
    }
}

/*fullpage*/
.full-page {
    height: 100%;
}

/*footer*/
footer {
    background: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 47px;
    padding: 0px;
    border-top: 1px solid #34394B;
    line-height: 45px;
}

footer ul li {
    list-style: none;
}

.charts-content .charts-content-datepicker {
    height: 70px;
}

.charts-content .charts-content-datepicker .btn-group-sm {
    display: inline-block;
    margin-bottom: 5px;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari 和 Chrome */
    -o-transition: all 0.5s; /* Opera */
}

.datetimepicker {
    border: 0px;
    margin: 0;
}

.style-color {
    color: #9B9B9B !important;
}

@media screen and (max-width: 768px) {
    .col-xs-5ths {
        width: 20%;
        float: left;
    }
    .col-xs-4ths {
        width: 25%;
        float: left;
    }    
    .col-xs-2ths {
        width: 50%;
        float: left;
    }

    /*page-top*/
    .page-top {
        height: 44px;
        background: -webkit-linear-gradient(45deg, #FD5EA3, #5C99FD); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(45deg, #FD5EA3, #5C99FD); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(45deg, #FD5EA3, #5C99FD); /* Firefox 3.6 - 15 */
        background: linear-gradient(45deg, #FD5EA3, #5C99FD); /* 标准的语法 */
    }

    .page-top-back {
        height: 44px;
        width: 44px;
        float: left;
    }

    .page-top .page-top-back img {
        width: 18px;
        margin-top: 16px;
        margin-left: 10px;
    }

    .page-top-title {
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 1.35px;
        position: absolute;
        top: 11px;
        width: 200px;
        margin-left: -100px;
        left: 50%;
    }

    .page-top-title img {
        width: 20px;
        margin-top: -5px;
    }
    .col-xs-2ths img {
        width: 20px;
        margin-top: -5px;
    }

    .page-top-project {
        float: right;
        height: 44px;
        width: 44px;
        display: inline-block;
    }

    .page-top-project img {
        width: 18px;
        margin-top: 16px;
        margin-right: 10px;
        float: right;
    }

    /* 日期选择器 */
    .select-date-box > .padding-0-1{
        padding: 0 1px;
    }

    .select-date-box input {
        font-size: 12px;
        border-radius: 3px;
    }

    .select-date-box .input-group-addon {
        padding: 5px 6px;
    }

    .select-charts-time {
        color: #9B9B9B;
        height: 30px;
        width: 100%;
    }

    .select-charts-time.active {
        border: 1px solid #9B9B9B;
        background: white;
    }

    /* charts */
    .charts-content {
        margin: 10px 0px;
        padding: 10px 0px;
        width: 100%;
        height: 425px;
        background: white;
    }

    .charts-content highchart {
        width: 100%;
        height: 369px;
    }
}