@media screen and (max-width: 768px) {
    /*home*/
    .home-page {
        height: 100%;
        background: -webkit-linear-gradient(45deg, #FD5EA3, #6E60EA 70%, #5C99FD); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(45deg, #FD5EA3, #6E60EA 70%, #5C99FD); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(45deg, #FD5EA3, #6E60EA 70%, #5C99FD); /* Firefox 3.6 - 15 */
        background: linear-gradient(45deg, #FD5EA3, #6E60EA 70%, #5C99FD); /* 标准的语法 */
    }

    .home-logout {
        color: white;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 40px;
        height: 40px;
        padding: 17px;
        z-index: 999;
    }

    .home-logout i {
        font-weight: 100;
    }

    .user-dropdown {
        float: right;
        color: white;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 40px;
        height: 40px;
        /*padding: 17px;*/
        z-index: 999;
    }

    .user-dropdown > .dropdown-menu {
        left: auto;
        right: 0px;
    }

    .user-dropdown > .dropdown-menu > li.user-header {
        height: 150px;
        padding: 10px;
        text-align: center;

    }

    .user-header > .img-circle {
        width: 70px;
    }

    .home-title {
        font-size: 18px;
        color: white;
        padding: 15px 0px;
    }

    .home-logo {
        padding: 15px 20px 20px;
    }

    .home-logo > img {
        width: 80px;
    }

    .home-project {
        padding: 20px;
    }

    .home-project > select{
        border-radius: 30px;
        width: 180px;
    }

    .home-project > select{
        text-align: center;
        padding: 5px 10px;
    }

    /*按钮*/
    .home-menu {

    }
    .home-menu > ul {
        position: relative;
        width: 345px;
        padding: 20px 16px;
        text-align: center;
        margin-left: -172.5px;
        left: 50%;
    }

    .home-menu > ul > li {
        background: #f4effb;
        float: left;
        width: 150px;
        height: 100px;
        margin: 3px;
        display: block;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 0 1px 0.5px rgba(255,255,255,.7);
    }

    .home-menu > ul > li > a {
        color: #9b9b9b;
        font-size: 20px;
        line-height: 100px;
    }

    .home-menu-ico {
        height: 20px;
        margin-top: -5px;
    }
}
