@media screen and (max-width: 768px) {
    .specific-page {
        background: #f3efe7;
    }

    .specific-page .dropdown-menu {
        min-width: 80px;
        font-size: 12px;
    }

    .project-dropdown .dropdown-menu {
        right: 0px;
        left: inherit;
        top: 45px;
    }

    .specific-page .dropdown-menu > li > a {
        padding: 3px 5px;
    }

    .body-top {
        background: white;
        height: 45px;
    }

    .specific-sift-menu {
        padding: 0px;
        text-align: center;
        line-height: 45px;
    }

    .specific-sift-menu-btn {
        color: #9B9B9B;
        font-size: 14px;
    }

    .activedClass .specific-sift-menu-btn {
        color: #4C9EFA;
    }

    .page-body {
        padding-bottom: 45px;
    }

    .page-body .nav-tabs {
        display: none;
    }

    .specific-table {
        background: white;
        padding: 10px;
        font-size: 12px;
        margin-bottom: 10px;
    }
}