<div ng-controller="funnelController as funnel" ng-init="funnel.init()" class="specific-page">
    <div class="panel-header page-top">
        <a class="page-top-back" ui-sref="app.home"><img src="dist/img/返回.png"></a>
        <div class="page-top-title text-center"><img src="dist/img/漏斗白.png">&nbsp;漏斗</div>
        <div uib-dropdown class="project-dropdown">
            <a class="page-top-project" href uib-dropdown-toggle><img src="dist/img/小抽屉.png" ng-click="app.openProject()"></a>
        </div>
    </div>

    <!--筛选条件-->
    <div class="body-top">
        <ul>
            <li class="col-xs-6 specific-sift-menu" ng-click="">
                <span>
                    <a class="specific-sift-menu-btn">
                        <!--<img src="dist/img/漏斗.png">-->
                        <i class="glyphicon glyphicon-filter"></i>
                        选择
                    </a>
                </span>
            </li>
            <li class="col-xs-6 specific-sift-menu" ng-click="">
                <span>
                    <a class="specific-sift-menu-btn">
                        <!--<img src="dist/img/plus-2.png">-->
                        <i class="glyphicon glyphicon-plus"></i>
                        新增
                    </a>
                </span>
            </li>
        </ul>
    </div>
    <!--筛选条件-->

    <div class=>
        <div class="charts-content">
            <div class="row">
                <div class="btn-group col-xs-12 charts-content-datepicker">
                    <div class="btn-group-sm" ng-class="{'col-xs-12': !showDate, 'col-xs-9': showDate}">
                        <label class="btn btn-default col-xs-2 style-color" ng-model="shotcut" uib-btn-radio="0"
                               ng-click="funnel.categoryChange()">日</label>
                        <label class="btn btn-default col-xs-2 style-color" ng-model="shotcut" uib-btn-radio="1"
                               ng-click="funnel.categoryChange()">周</label>
                        <label class="btn btn-default col-xs-2 style-color" ng-model="shotcut" uib-btn-radio="2"
                               ng-click="funnel.categoryChange()">月</label>
                        <label class="btn btn-default col-xs-2 style-color" ng-model="shotcut" uib-btn-radio="3"
                               ng-click="funnel.categoryChange()">年</label>
                        <label class="btn btn-default col-xs-4 style-color" ng-model="shotcut" uib-btn-radio="4"
                               ng-click="funnel.categoryChange()">自定义</label>
                    </div>
                    <div class="btn-group-sm padding-0-1" ng-class="{'col-xs-0': !showDate, 'col-xs-3': showDate}">
                        <select class="select-charts-time" ng-class="{'active': showDate}" ng-model="category" ng-change="funnel.loadData()"
                                ng-options="x.id as x.name for x in granularity">
                        </select>
                    </div>
                    <div class="btn-group-sm col-xs-12 select-date-box" ng-show="showDate">
                        <div class="form-group-sm dropdown col-xs-5 padding-0-1">
                            <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="" href="">
                                <div class="input-group date">
                                    <input type="text" class="form-control style-color" ng-model="dateRangeStart">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar style-color"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="dateRangeStart"
                                                data-datetimepicker-config="{dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed', minView: 'day', modelType: 'YYYY-MM-DD'}"
                                                data-on-set-time="startDateOnSetTime()"
                                                data-before-render="startDateBeforeRender($view, $dates)"
                                                ng-change="funnel.loadData()">
                                </datetimepicker>
                            </ul>
                        </div>
                        <div class="form-group-sm col-xs-2 padding-0-1 text-center style-color"><span style="line-height: 30px">-</span></div>
                        <div class="form-group-sm dropdown col-xs-5 padding-0-1">
                            <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target="" href="">
                                <div class="input-group date">
                                    <input type="text" class="form-control style-color" ng-model="dateRangeEnd">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar style-color"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="dateRangeEnd"
                                                data-datetimepicker-config="{dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed', minView: 'day', modelType: 'YYYY-MM-DD'}"
                                                data-on-set-time="endDateOnSetTime()"
                                                data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"
                                                ng-change="funnel.loadData()">
                                </datetimepicker>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

            <highchart class="chart-container-big" config="funnel.charts"
                       style="width: 100%; height: 346px"></highchart>
        </div>
        <div class="specific-table">
            <!-- table 开始-->
            <table class="table" ng-hide="funnel.noData">
                <th ng-repeat="n in funnel.th">{{n}}</th>
                <tr ng-repeat="n in funnel.dataSet track by $index">
                    <td ng-repeat="item in n track by $index">{{item}}</td>
                </tr>
            </table>
            <!-- table 结束-->

            <!-- 无数据 开始-->
            <div ng-show="funnel.noData" class="text-center">暂无数据</div>
            <!-- 无数据 结束-->
        </div>
    </div>
</div>