<div ng-controller="loginController as login" ng-init="login.init()" class="login-box">
    <!--表单-->
    <div class="center-block fixed-width-5 login-box-content">
        <div class="">
            <div class="panel-heading">
                <h3 class=" text-center">清鹤运营平台</h3>
            </div>
            <div class="panel-body">

                <form class="form form-vertical" name="loginForm" ng-submit="loginForm.$valid && login.login()">
                    <!--账号-->
                    <div class="control-group controls">
                        <input ng-model="login.userName" class="form-control" type="text" required placeholder="用户名">
                    </div>
                    <!--账号-->

                    <!--密码-->
                    <div class="control-group controls">
                        <input ng-model="login.password" class="form-control" type="password" required placeholder="密码">
                    </div>
                    <!--密码-->

                    <hr class="break-space">
                    <div class="control-group">
                        <button type="submit" class="btn btn-primary btn-block">登录</button>
                    </div>
                    <hr class="break-space-double">
                    <div class="text-center loading" ng-show="login.loading" style="color: white">登录中...</div>
                </form>

            </div>
        </div>
    </div>
    <!--表单-->

    <div class="text-center copyright">© Copyright 2017 ClearTV</div>
</div>