<div ng-controller="overviewController as overview" ng-init="overview.init()" class="specific-page">
    <div class="panel-header page-top">
        <a class="page-top-back" ui-sref="app.home"><img src="dist/img/返回.png"></a>
        <div class="page-top-title text-center"><img src="dist/img/仪表盘白.png">&nbsp;概览</div>
        <div uib-dropdown class="project-dropdown">
            <a class="page-top-project" href uib-dropdown-toggle><img src="dist/img/小抽屉.png"></a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="project-dropdown">
                <li ng-repeat="item in app.projectList">
                    <a href ng-click="overview.changeProject(item.projectName)" class="style-color">
                        {{item.projectNameCHZ}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--筛选条件-->
    <div class="body-top">
        <ul>
            <li class="col-xs-3 specific-sift-menu" ng-class="{activedClass:0 == overview.activerow}"
                ng-click="overview.isCurrent(0)">
                <span>
                    <a class="specific-sift-menu-btn">
                        终端情况
                    </a>
                </span>
            </li>
            <li class="col-xs-3 specific-sift-menu" ng-class="{activedClass:1 == overview.activerow}"
                ng-click="overview.isCurrent(1)">
                <span>
                    <a class="specific-sift-menu-btn">
                        付费转化
                    </a>
                </span>
            </li>
            <li class="col-xs-3 specific-sift-menu" ng-class="{activedClass:2 == overview.activerow}"
                ng-click="overview.isCurrent(2)">
                <span>
                    <a class="specific-sift-menu-btn">
                        平均营收
                    </a>
                </span>
            </li>
            <li class="col-xs-3 specific-sift-menu" ng-class="{activedClass:3 == overview.activerow}"
                ng-click="overview.isCurrent(3)">
                <span>
                    <a class="specific-sift-menu-btn">
                        平均活跃
                    </a>
                </span>
            </li>
        </ul>
    </div>
    <!--筛选条件-->

    <div class=>
        <div class="charts-content">
            <div class="col-xs-12">
                <div class="dropdown col-xs-8">
                    <a class="dropdown-toggle" id="dropdownEnd0" role="button" data-toggle="dropdown" data-target=""
                       href="">
                        <div class="input-group date">
                            <input type="text" class="form-control style-color" ng-model="overview.searchDate">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar style-color"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="overview.searchDate" ng-if="!overview.isDate"
                                        data-datetimepicker-config="{dropdownSelector: '#dropdownEnd0', renderOn: 'end-date-changed', minView: 'hour', modelType: 'YYYY-MM-DD HH:mm'}"
                                        data-on-set-time="endDateOnSetDatetime()"
                                        data-before-render="endDateBeforeRender($dates)"
                                        ng-change="overview.loadChart()">

                        </datetimepicker>
                        <datetimepicker ng-model="overview.searchDate" ng-if="overview.isDate"
                                        data-datetimepicker-config="{dropdownSelector: '#dropdownEnd0', renderOn: 'end-date-changed', minView: 'day', modelType: 'YYYY-MM-DD'}"
                                        data-on-set-time="endDateOnSetTime()"
                                        data-before-render="endDateBeforeRender($dates)"
                                        ng-change="overview.loadChart()">

                        </datetimepicker>
                    </ul>

                </div>
                <div class="col-xs-2">
                    <select class="select-charts-time" ng-model="overview.selectDur" ng-change="overview.loadChart()"
                            ng-options="x for x in durationList">
                    </select>
                </div>
                <div class="col-xs-2">
                    <select class="select-charts-time" ng-model="overview.selectGra"
                            ng-change="overview.changeGra(overview.selectGra)"
                            ng-options="x.id as x.name for x in granularity">
                    </select>
                </div>
            </div>

            <highchart class="chart-container-big" config="overview.charts"
                       style="width: 100%; height: 346px"></highchart>
        </div>
        <div class="specific-table">
            <!-- table 开始-->
            <table class="table">
                <th ng-repeat="n in overview.th"><a ng-click="overview.changeOrderby()">{{n}}</a></th>
                <tr ng-repeat="n in overview.dataSet | orderBy: 'a' : overview.desc">
                    <td ng-repeat="(key, value) in n">{{value}}</td>
                </tr>
            </table>
            <!-- table 结束-->
        </div>
    </div>
</div>