<div ng-controller="specificController as specific" ng-init="specific.init()" class="specific-page">
    <div class="panel-header page-top">
        <a class="page-top-back" ui-sref="app.home"><img src="dist/img/返回.png"></a>
        <div class="page-top-title text-center"><img src="dist/img/具体白.png">&nbsp;具体</div>
        <div uib-dropdown class="project-dropdown">
            <!--<a class="page-top-project"><img src="dist/img/小抽屉.png"></a>-->
            <!--<select ng-model="app.selectProject">-->
                <!--<option ng-repeat="item in app.projectList" value="{{item.projectName}}">{{item.projectNameCHZ}}</option>-->
            <!--</select>-->
            <a class="page-top-project" href uib-dropdown-toggle><img src="dist/img/小抽屉.png"></a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="project-dropdown">
                <li ng-repeat="item in app.projectList">
                    <a href ng-click="specific.changeProject(item.projectName)">
                        {{item.projectNameCHZ}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--筛选条件-->
    <div class="body-top">
        <ul>
            <li class="col-xs-3 specific-sift-menu" ng-class="{activedClass:0 == specific.activerow}"
                ng-click="specific.isCurrent(0); active = 0">
                <!--Simple dropdown -->
                <span uib-dropdown>
                    <a href uib-dropdown-toggle class="specific-sift-menu-btn">
                        终端指标
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="term-dropdown">
                        <li ng-repeat="item in specific.term">
                            <a href ng-click="specific.selectTerm($index)">
                                {{item.name}}&nbsp;
                                <i class="glyphicon glyphicon-check" ng-show="item.show"></i>
                                <i class="glyphicon glyphicon-unchecked" ng-hide="item.show"></i>
                            </a>
                        </li>
                    </ul>
                </span>
            </li>
            <li class="col-xs-3 specific-sift-menu" ng-class="{activedClass:1 == specific.activerow}"
                ng-click="specific.isCurrent(1); active = 1">
                <span uib-dropdown>
                    <a href uib-dropdown-toggle class="specific-sift-menu-btn">
                        次数统计
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="count-dropdown">
                        <li ng-repeat="item in specific.countStatistics">
                            <a href ng-click="specific.selectCountStatistics($index)">
                                {{item.name}}&nbsp;
                                <i class="glyphicon glyphicon-check" ng-show="item.show"></i>
                                <i class="glyphicon glyphicon-unchecked" ng-hide="item.show"></i>
                            </a>
                        </li>
                    </ul>
                </span>
            </li>
            <li class="col-xs-3 specific-sift-menu" ng-class="{activedClass:2 == specific.activerow}"
                ng-click="specific.isCurrent(2); active = 2">
                <span>
                    <a class="specific-sift-menu-btn">
                        营收统计
                    </a>
                </span>
            </li>
            <li class="col-xs-3 specific-sift-menu" ng-class="{activedClass:3 == specific.activerow}"
                ng-click="specific.isCurrent(3); active = 3">
                <!--Simple dropdown -->
                <span uib-dropdown>
                    <a href uib-dropdown-toggle class="specific-sift-menu-btn">
                        其他指标
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li ng-repeat="item in specific.other">
                            <a href ng-click="specific.selectOther($index)">
                                {{item.name}}&nbsp;
                                <i class="glyphicon glyphicon-check" ng-show="item.show"></i>
                                <i class="glyphicon glyphicon-unchecked" ng-hide="item.show"></i>
                            </a>
                        </li>
                    </ul>
                </span>
            </li>
        </ul>
    </div>
    <!--筛选条件-->

    <div class="page-body">
        <uib-tabset active="active">
            <!--终端板块-->
            <uib-tab index="0">
                <div class="specific-highcharts">
                    <div fusioncharts width="100%" height="400" type="msarea"
                         chart="{{specific.attrs0}}" categories="{{specific.categories0}}"
                         dataset="{{specific.dataset0}}">
                    </div>
                    <select class="select-charts-time" ng-model="specific.selectGra0" ng-change="specific.changeGra()"
                            ng-options="x.id as x.name for x in granularity">
                    </select>
                </div>
                <div class="specific-table">
                    <!--online table 开始-->
                    <table class="table">
                        <th><a ng-click="specific.changeOrderby('datetime')">日期</a></th>
                        <th ng-if="specific.term[0].show"><a ng-click="specific.changeOrderby('addUpCount')">{{specific.term[0].name}}</a>
                        </th>
                        <th ng-if="specific.term[1].show"><a ng-click="specific.changeOrderby('onlineCount')">{{specific.term[1].name}}</a>
                        </th>
                        <th ng-if="specific.term[2].show"><a ng-click="specific.changeOrderby('activeCount')">{{specific.term[2].name}}</a>
                        </th>
                        <th ng-if="specific.term[3].show"><a ng-click="specific.changeOrderby('payCount')">{{specific.term[3].name}}</a>
                        </th>
                        <th ng-if="specific.term[4].show"><a ng-click="specific.changeOrderby('newAddCount')">{{specific.term[4].name}}</a>
                        </th>
                        <tr ng-repeat="n in specific.dataSet0 | orderBy: specific.term.sort : specific.term.desc">
                            <td>{{n.datetime}}</td>
                            <td ng-if="specific.term[0].show">{{n.addUpCount}}</td>
                            <td ng-if="specific.term[1].show">{{n.onlineCount}}</td>
                            <td ng-if="specific.term[2].show">{{n.activeCount}}</td>
                            <td ng-if="specific.term[3].show">{{n.payCount}}</td>
                            <td ng-if="specific.term[4].show">{{n.newAddCount}}</td>
                        </tr>
                    </table>
                    <!--online table 结束-->
                </div>
            </uib-tab>
            <!--终端板块-->

            <!--次数板块 开始-->
            <uib-tab index="1">
                <div class="specific-highcharts">
                    <div fusioncharts width="100%" height="400" type="msarea"
                         chart="{{specific.attrs1}}" categories="{{specific.categories1}}"
                         dataset="{{specific.dataset1}}"></div>
                    <select class="select-charts-time" ng-model="specific.selectGra1" ng-change="specific.changeGra()"
                            ng-options="x.id as x.name for x in granularity">
                    </select>
                </div>
                <div class="specific-table">
                    <!--次数 table 开始-->
                    <table class="table">
                        <th><a ng-click="specific.changeOrderby('datetime')">日期</a></th>
                        <th><a ng-click="specific.changeOrderby('payCount')">总次数</a></th>
                        <th><a ng-click="specific.changeOrderby('paySingleCount')">单次次数</a></th>
                        <th><a ng-click="specific.changeOrderby('payPackageCount')">打包次数</a></th>
                        <tr ng-repeat="n in specific.dataSet1 | orderBy: specific.countStatistics.sort : specific.countStatistics.desc">
                            <td>{{n.datetime}}</td>
                            <td>{{n.payCount}}</td>
                            <td>{{n.paySingleCount}}</td>
                            <td>{{n.payPackageCount}}</td>
                        </tr>
                    </table>
                    <!--次数 table 结束-->
                </div>
            </uib-tab>
            <!--次数板块 结束-->

            <!--营收统计 开始-->
            <uib-tab index="2">
                <div class="specific-highcharts">
                    <div fusioncharts width="100%" height="400" type="msarea"
                         chart="{{specific.attrs2}}" categories="{{specific.categories2}}"
                         dataset="{{specific.dataset2}}"></div>
                    <select class="select-charts-time" ng-model="specific.selectGra2" ng-change="specific.changeGra()"
                            ng-options="x.id as x.name for x in granularity">
                    </select>
                </div>
                <div class="specific-table">
                    <!--online table 开始-->
                    <table class="table">
                        <th><a ng-click="specific.changeOrderby('datetime')">日期</a></th>
                        <th><a ng-click="specific.changeOrderby('totalMovieRevenue')">总收益</a></th>
                        <th><a ng-click="specific.changeOrderby('singleMovieRevenue')">单次点播收益</a></th>
                        <th><a ng-click="specific.changeOrderby('packageMovieRevenue')">打包点播收益</a></th>
                        <tr ng-repeat="n in specific.revenueData | orderBy: specific.term.sort : specific.term.desc">
                            <td>{{n.datetime}}</td>
                            <td>{{n.totalMovieRevenue}}</td>
                            <td>{{n.singleMovieRevenue}}</td>
                            <td>{{n.packageMovieRevenue}}</td>
                        </tr>
                    </table>
                    <!--online table 结束-->
                </div>
            </uib-tab>
            <!--营收统计 结束-->

            <!--其他指标 开始-->
            <uib-tab index="3">
                <!--终端时长 开始-->
                <div class="specific-highcharts" ng-show="specific.other[0].show">
                    <div fusioncharts width="100%" height="400" type="mscombidy2d"
                         chart="{{specific.attrs3}}" categories="{{specific.categories3}}"
                         dataset="{{specific.dataset3}}"></div>
                    <select class="select-charts-time" ng-model="specific.selectGra3" ng-change="specific.changeGra()"
                            ng-options="x.id as x.name for x in granularity">
                    </select>
                </div>
                <div class="specific-table"  ng-show="specific.other[0].show">
                    <!--终端时长 table 开始-->
                    <table class="table">
                        <th><a ng-click="specific.changeOrderby('datetime')">日期</a></th>
                        <th><a ng-click="specific.changeOrderby('totalActiveTime')">活跃时长</a></th>
                        <th><a ng-click="specific.changeOrderby('activeCount')">活跃终端数</a></th>
                        <tr ng-repeat="n in specific.dataSet3 | orderBy: specific.term.sort : specific.term.desc">
                            <td>{{n.datetime}}</td>
                            <td>{{n.totalActiveTime}}</td>
                            <td>{{n.activeCount}}</td>
                        </tr>
                    </table>
                    <!--终端时长 table 结束-->
                </div>
                <!--终端时长 结束-->

                <!--西塘票务 开始-->
                <!--<div class="specific-highcharts" ng-show="specific.other[1].show">-->
                    <!--<div fusioncharts width="100%" height="400" type="mscombidy2d"-->
                         <!--chart="{{specific.attrs4}}" categories="{{specific.categories4}}"-->
                         <!--dataset="{{specific.dataset4}}"></div>-->
                    <!--<select class="select-charts-time" ng-model="specific.selectGra4" ng-change="specific.changeGra()"-->
                            <!--ng-options="x.id as x.name for x in granularity">-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="specific-table"  ng-show="specific.other[1].show">-->
                    <!--&lt;!&ndash;西塘票务 table 开始&ndash;&gt;-->
                    <!--<table class="table">-->
                        <!--<th><a ng-click="specific.changeOrderby('datetime')">日期</a></th>-->
                        <!--<th><a ng-click="specific.changeOrderby('totalActiveTime')">活跃时长</a></th>-->
                        <!--<th><a ng-click="specific.changeOrderby('activeCount')">活跃终端数</a></th>-->
                        <!--<tr ng-repeat="n in specific.dataSet3 | orderBy: specific.term.sort : specific.term.desc">-->
                            <!--<td>{{n.datetime}}</td>-->
                            <!--<td>{{n.totalActiveTime}}</td>-->
                            <!--<td>{{n.activeCount}}</td>-->
                        <!--</tr>-->
                    <!--</table>-->
                    <!--&lt;!&ndash;西塘票务 table 结束&ndash;&gt;-->
                <!--</div>-->
                <!--西塘票务 结束-->
            </uib-tab>
            <!--其他指标 结束-->
        </uib-tabset>

    </div>
</div>